In [35]:
from tabula import read_pdf
df=read_pdf("test3.pdf", multiple_tables=True, java_options="-Dfile.encoding=UTF8")

In [36]:
df

[                         0                                            1
 0    Company / Payee Name:                           The Nyland Company
 1                 Address:  15429 Edgewater Drive, Lakewood, Ohio 44107
 2    Contact Person Name :                             Douglas J Nyland
 3   Contact Phone Number :                                 440-539-1808
 4  Contact E-mail Address:             doug.nyland@thenylandcompany.com,
                                  0          1
 0  Name of Financial Institution :   PNC Bank
 1       ABA / Routing Information:  041000124
 2            Bank Account Number :  228330696
 3                 Type of Account:   Checking,
               0                                           1
 0           NaN  For Materion Corporation Internal Use Only
 1  Vendor ID #:                                         NaN
 2  VMF Updated:                                         NaN
 3     Initials:                                         NaN]

In [37]:
df[0]

                         0                                            1
0    Company / Payee Name:                           The Nyland Company
1                 Address:  15429 Edgewater Drive, Lakewood, Ohio 44107
2    Contact Person Name :                             Douglas J Nyland
3   Contact Phone Number :                                 440-539-1808
4  Contact E-mail Address:             doug.nyland@thenylandcompany.com

In [38]:
df[1]

                                 0          1
0  Name of Financial Institution :   PNC Bank
1       ABA / Routing Information:  041000124
2            Bank Account Number :  228330696
3                 Type of Account:   Checking

In [39]:
df[2]

              0                                           1
0           NaN  For Materion Corporation Internal Use Only
1  Vendor ID #:                                         NaN
2  VMF Updated:                                         NaN
3     Initials:                                         NaN